.MovieDetail {
    width: 90%;
    margin: auto;
    border: 1px ridge !important;
    box-shadow: -4px 5px 5px #ccc;
    text-align: justify;
    flex-flow: row wrap;
    margin-top: 56px;
    justify-content: center;
    background-color: rgb(231, 229, 223);
}

.MovieDetail > p {
    display: block !important;
}

.MovieDetail > h1 {
    text-align: center;
}

.MovieDetail .col-3 {
    text-align: center;
}

.ListEpisode {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}